html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.hide {
    display: none;
}

td, th {
    text-align: left;
    width: 100px;
    /* border: 1px solid black; */
    padding: 3px;
    margin: 3px;
}
