table {
    font-family: sans-serif;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-100%);
    width: 700px;
}

.data {
    color: blue;
}